<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="ajp" class="org.bingo.bomb.chaos.bootstrap.fix.FixHibernateForSpringJtaPlatform" depends-on="bytetccBeanFactory">
		<property name="beanFactory" ref="bytetccBeanFactory" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="ajp">
		<property name="packagesToScan" value="org.bingo.bomb.chaos.repository.domain" />
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitPostProcessors">
			<list>
				<bean class="org.bingo.bomb.chaos.bootstrap.fix.FixSpringPersistenceTransactionPostProcessor" />
			</list>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaPropertyMap">
			<props>
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
				<prop key="hibernate.default_batch_fetch_size">16</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.generate_statistics">false</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">false</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
				<prop key="hibernate.transaction.coordinator_class">jta</prop>
				<prop key="hibernate.transaction.jta.platform">org.bingo.bomb.chaos.bootstrap.fix.FixHibernateForSpringJtaPlatform</prop>
			</props>
		</property>
	</bean>

	<jpa:repositories base-package="org.bingo.bomb.chaos.repository.repository" base-class="org.bingo.bomb.chaos.repository.repository.JpaRepositoryImpl" entity-manager-factory-ref="entityManagerFactory" transaction-manager-ref="transactionManager" />

</beans>