<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="${dubbo.application.name}" logger="${dubbo.application.logger}"/>
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
	<dubbo:registry address="${dubbo.registry.address}" check="${dubbo.registry.check}" file="dubbo-registry-file.properties"/>
	
	<dubbo:provider timeout="300000" cluster="${dubbo.service.cluster}" version="${dubbo.service.version}"  retries="${dubbo.service.retries}"/>
	<dubbo:consumer timeout="300000" cluster="${dubbo.reference.cluster}" version="${dubbo.reference.version}" retries="${dubbo.reference.retries}" check="${dubbo.reference.check}"/>
	
</beans>