<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="mysql" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="url" value="${jdbc.url}" />
    	<property name="username" value="${jdbc.username}" />
    	<property name="password" value="${jdbc.password}" />
    	<property name="maxActive" value="200" />
    	<property name="initialSize" value="10" />
    	<property name="maxWait" value="60000" />
    	<property name="minIdle" value="50" />
    	<property name="timeBetweenEvictionRunsMillis" value="60000" />
    	<property name="minEvictableIdleTimeMillis" value="300000" />
    	<property name="validationQuery" value="SELECT 1" />
    	<property name="testWhileIdle" value="true" />
    	<property name="testOnBorrow" value="true" />
    	<property name="testOnReturn" value="true" />
    	<property name="defaultAutoCommit" value="false"/>
    	<property name="poolPreparedStatements" value="false" />
    	<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>
	
	<bean id="dataSource" class="org.bytesoft.bytejta.supports.jdbc.LocalXADataSource">
		<property name="dataSource" ref="mysql" />
	</bean>
</beans>